<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>About The Creator</h1>

<div class="">
    <img src="/static/aboutuspicture.png" class="rounded" alt="No image" height = "200" width="150">
  </div>

<h2>Dallia's biography</h2>
<p>Dallia was born and raised in the bay area. She understand three languages on a conversational level Vietnamese, Cantonese, and English.</p>

<p>Intended purpose: To help people struggling in Cantonese and/or Vietnamese. </p>
<p>Description of each user: This application will educate users on how to format sentences, give users explanation for each phrase and word, and allow users to communicate with each as aid.</p>

{% endblock %}